**/.DS_Store
bam/bam/*
qc/rseqc/results/*
qc/SIN3B-visualisation/bam/*
**/metadata/genes/
**/metadata/reference/
transcript-counts/temp/*
transcript-counts/logs/*
transcript-counts/counts/*
transcript-counts/tpm/*
transcript-counts/metacounts/*
transcript-counts/summarised/*
transcript-counts-casm/validation/canapps-fpkm
transcript-counts-casm/counts
transcript-counts-casm/metacounts
transcript-counts-casm/summarised
transcript-counts-casm/old-casm
