**/.DS_Store
transcript-counts/validation/canapps-fpkm
transcript-counts/counts
transcript-counts/metacounts
transcript-counts/summarised
bam/bam/*
qc/rseqc/results/*
qc/SIN3B-visualisation/bam/*
transcript-counts-new/temp/*
transcript-counts-new/logs/*
transcript-counts-new/counts/*
